*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: "Open Sans";
}

form > *{
    font-family: "Open Sans";
}

/*
quando utilizamos o important, o nível de especificação deixa de existir
.box p{
    font-family: "Open Sans" !important;
}

.text{
    font-family: tahoma !important;
}
*/

